.layout {
  min-width: 750px;
  height: 100vh;
  user-select: none;
}

.header__container {
  min-width:750px;
  overflow: hidden;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 500px;
}

.wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.error-message
{
  margin-top:10px;
}

.button {
  margin-left: 10px;
}

.header__container {
  min-width:850px;
  height:60px;
  overflow: hidden;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}

.user-info{
  margin-right: 20px;
  float:right;
}

.title {
  cursor: pointer;
  color: white;
  font-size: 2em;
  height: 31px;
  float: left;
}

.menu-button{
  margin-left: 10px;
}


.account-detail{
  .form {
    padding:10px;
  }
}

.demo-infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 300px;
}
.demo-loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}